[submodule "deps/WarlockLib"]
	path = deps/WarlockLib
	url = git@gitee.com:xiii_1991/WarlockLib.git

[submodule "deps/csv"]
	path = deps/csv
	url = git@github.com:p-ranav/csv.git

[submodule "deps/QoolUI"]
	path = deps/QoolUI
	url = git@gitee.com:xiii_1991/QoolUI.git
